@page
@model Sujith_Web_Invent_Fashion.Pages.FemaleModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/gender.css" />
</head>
<div class="text-center">
    <h1 class="display-4">Women's Fashion</h1>
    <p>This page will have women's type of dresses to select</p>
    <br />
    
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/images/ladies_tshirt.jpg" style="width:100%">
            <div class="container">

                <p>Stylish women's Tshirt</p>
                <p>Model: LShirt 1</p>
                <p><button class="button" style="width:fit-content">Buy Now</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/ladies_pants.jpg" alt="Mike" style="width:100%">
            <div class="container">

                <p>Latest Women's Pant</p>
                <p>Model: Lpant 1</p>
                <p><button class="button">Buy Now</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/ladies_pant_2.jpg" alt="John" style="width:100%">
            <div class="container">

                <p>Formal Ladies Pant</p>
                <p>Model: Lpant 2</p>
                <p><button class="button">Buy Now</button></p>
            </div>
        </div>
    </div>
</div>