@page
@model Sujith_Web_Invent_Fashion.Pages.MaleModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/gender.css" />
</head>
<div class="text-center">
    <h1 class="display-4">Men's Fashion</h1>
    <p>This page will have men's type of dresses to select</p>
    <br />
    
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/images/male tshirt.jpg" style="width:100%">
            <div class="container">
             
                <p>Stylish men's Shirt</p>
                <p>Model: Shirt 1</p>
                <p><button class="button" style="width:fit-content">Buy Now</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/male_pant.jpg" alt="Mike" style="width:100%">
            <div class="container">
                
                <p>Latest Men's Pant</p>
                <p>Model: Pant 1</p>
                <p><button class="button">Buy Now</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/male_suit.jpg" alt="John" style="width:100%">
            <div class="container">
                
                <p>Classic Suit</p>
                <p>Model: Suit 1</p>
                <p><button class="button">Buy Now</button></p>
            </div>
        </div>
    </div>
</div>


@*<script src="~/js/gender.js" asp-append-version="true"></script>*@
 